
/*----------general styles-----------*/
html {

    overflow-x: hidden;
}  

body{
    margin: auto;
    box-sizing: border-box;
    background-image: url("./images/bg-img.jpg");
    width: 100%;
  }

li{
    list-style-type: none;
    margin: 2vw 0;
    font-size: 3vh;
  }
  
  a{
    text-decoration: none;
    color: beige;
    font-family: monospace;
  margin-top: 1rem;
    padding: 2vw;
  }

  .flex {
      display: flex;
  }

  @font-face {
      font-family: my-cocofont;
      src: url(COCOGOOSELETTERPRESS-TRIAL.ttf);
  }
  
/*----------Navbar-----------*/

  nav{
    width: 100vw;  
    /* background-color: #ec5242; */
    background-color:  #272a31;
    height: 11.3vh;
    /* position: fixed; */
    /* z-index: 99; */
  }
  
  ul{
    display: block;
    margin: 0;
    padding: 0;
    
    display: flex;  
  }

   .logo {

    width: 10vw;
    height: 11.4vh;
    position: relative;
    margin-left: 0;
    margin-top: -27px;
  }

  
  ul button{
    display: none;
  }
  
  a:hover{
    background: radial-gradient(#ec5242,#f1958b ) ;
    color: black; 
  
  }

  /*----------MAIN SECTION-----------*/


  .main-section-container {
    /* background-image: url("./images/bg-img.jpg"); */
      /* background: linear-gradient(#d3d3d3, #d5d5d5); */
      height: 100%;
      margin-top: -33px;
      /* background: radial-gradient(#ec5242,#f1958b ) ; */
      background: linear-gradient(#d3d3d3,#8f8483 ) ; 
      position: relative;
      padding-top: -4rem;
  }



  h1, h3, h5 {
    text-align: center;
  }

  .main-text {
      /* justify-content: center;
      align-items: center; */
      align-content: center;
      padding-top: 8vh;
      /* padding-left: 30vw; */
      font-size: x-large;
      margin-bottom: 2rem;
      margin-top: 2rem;
      /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
      color: #d3d3d3;
      /* text-shadow: 2px 2px 4px #000000; */
      animation: mymove 2s infinite;
      /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
      font-family: my-cocofont;
  }
  @keyframes mymove {
    50% {text-shadow: 10px 20px 30px blue;}
  }

  /* @keyframes mymove {
    50% {text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;}
  } */


.about-text {
    width: 50%;
    height: 40%;
    /* background-color: #d3d3d3; */
    background-color: #272a31;
    margin-left: 20rem;
    margin-top: 4rem;
    text-align: center;
    color: greenyellow;
    border-radius: 5px;
    padding: 1rem;
}


.mailing-list {
    text-align: center;
    margin-left: 7rem;
    width: 80%;
}

.subscribe {
    flex-direction: column;
    width: 80%;
    margin-left: 7rem;
}

#email {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.subscribe-btn {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    display: inline-block;
/* padding: 15px 25px; */
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: white;
background-color: CORAL;
border: none;
border-radius: 15px;
box-shadow: 0 10px #999;
}

.subscribe-btn:hover {background-color: coral}
.subscribe-btn:active {
background-color: coral;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.twitter-follow {
    padding-bottom: 1rem;
    margin-left: 25rem;
}

.twitter-follow span {
    color: #ec5242;
    text-decoration: underline;
    cursor: pointer;
}

.past-congress {
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.past-congress-text {
    padding-top: 1rem;
}

.past-congress-text h3 {
    color: #ec5242;
    font-weight: 900;
}

.past-congress-text p {
    color: #272a31;
    font-weight: 500;
    text-align: center;
}

.buea-2014 {
    background-image: url(../images/buea-2014.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25rem;
    height: 20rem;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 2rem;
}

.douala-2017 {
    background-image: url(../images/douala-2017.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25rem;
    height: 20rem;
    cursor: pointer;
    border-radius: 2rem;
}

.buea-2014 h1 {
    margin-top: 7rem;
    color: red;
}

.buea-2014 h1:hover {
    text-decoration: underline;
    color:rgb(7, 241, 7);
}

.buea-2014 h3 {
    color: red;
}

.buea-2014 h3:hover {
    text-decoration: underline;
    color:rgb(7, 241, 7);
}

.douala-2017 h1 {
    margin-top: 7rem;
    color: red;
}

.douala-2017 h1:hover {
    text-decoration: underline;
    color:rgb(7, 241, 7);
}
.douala-2017 h3 {
    color: red;
}

.douala-2017 h3:hover {
    text-decoration: underline;
    color:rgb(7, 241, 7);
}

  .conf-date{
      justify-content: space-around;
      margin-top: 2rem;
  }

  



  .partners-container{
      height: 20rem;
      width: 100%;
      background-color: #272a31;
  }

  .partners-title {
      color: #ec5242;
      text-align: center;
      margin-top: 1rem;
      padding-top: 1rem;
  }

.partner-logo {
    width: 120px;
    height: 100px;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 7rem;
    margin-top: 2rem;
}

  .footer-container {
      height: 12rem;
      width: 100%;
      height: 100%;
      background-color: #d3d3d3;
      text-align: center;
      padding-top: 2rem;
  }

  .footer-container ul{
      padding-bottom: 1rem;
      justify-content: center;
  }

  .footer-container ul li{
    margin-right: 0.5rem;
}

.footer-container ul li a{
    color: black !important;
}
/*----------MEDIA QUERIES-----------*/

  @media only screen and (max-width: 767px) {
body {
    overflow-x: hidden;
    /* width: 100%; */
}

    ul{
      flex-direction: column;
    }

    nav{
        width: 100vw;
        background-color: #ec5242;
        height: 45vh;
      }

      main {
          width: 100%;
      }
    
    a{
      display: block;
    }

    .logo {
        display: none;
    }
    
    li{
      margin: 0;
    }

    .about-text {
        margin-left: 3.5rem;
        width: 24rem;
    }

    .mailing-list {
        margin-left: 0.5rem;
        margin-top: 1rem;
        width: 95%;
    }
    
.subscribe {
    width: 90%;
    margin-left: 1.5rem;
}

    .twitter-follow {
        padding-bottom: 1rem;
        margin-left: 1.5rem;
        width: 90%;
    }

   .past-congress {
       flex-direction: column;
   }

   .buea-2014 {
       margin-bottom: 1rem;
   }

      .partner-logo{
        flex-direction: row;
        margin-left: 6rem;
        width: 40px;
        height: 40px;
        margin-top: 0.5rem;
        justify-content: center;
    }
  }