
/*----------general styles-----------*/
html {

    overflow-x: hidden;
}  

body{
    margin: auto;
    box-sizing: border-box;
    background-image: url("./images/bg-img.jpg");
    width: 100%;
  }

li{
    list-style-type: none;
    margin: 2vw 0;
    font-size: 3vh;
  }
  
  a{
    text-decoration: none;
    color: beige;
    font-family: monospace;
  /* margin-top: 1rem; */
    padding: 2vw;
  }

  .flex {
      display: flex;
  }

  @font-face {
      font-family: my-cocofont;
      src: url(COCOGOOSELETTERPRESS-TRIAL.ttf);
  }
  
/*----------Navbar-----------*/

  nav{
    width: 100vw;  
    /* background-color: #ec5242; */
    background-color:  #272a31;
    height: 11.3vh;
    /* position: fixed; */
    /* z-index: 99; */
  }
  
  ul{
    display: block;
    margin: 0;
    padding: 0;
    
    display: flex;  
  }

   .logo {

    width: 10vw;
    height: 11.4vh;
    position: relative;
    margin-left: 0;
    margin-top: -27px;
  }

  
  ul button{
    display: none;
  }
  
  a:hover{
    background: radial-gradient(#ec5242,#f1958b ) ;
    color: black;
    /* height: 190vh; */
  }

  .link-animation {
    /* border: 1px solid yellow; */
  }

  /*----------MAIN SECTION-----------*/

  main {
    /* background-image: url("./images/bg-img.jpg"); */
  }

  .main-section {
    /* background-image: url("./images/bg-img.jpg"); */
      /* background: linear-gradient(#d3d3d3, #d5d5d5); */
      height: 100%;
      margin-top: -33px;
      background: radial-gradient(#ec5242,#f1958b ) ;
      position: relative;
      padding-top: -4rem;
  }



  h1, h3, h5 {
    text-align: center;
    color: #ec5242;
  }

  .main-text {
      /* justify-content: center;
      align-items: center; */
      align-content: center;
      padding-top: 8vh;
      /* padding-left: 30vw; */
      font-size: x-large;
      margin-bottom: 2rem;
      margin-top: 2rem;
      /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
      color: #d3d3d3;
      /* text-shadow: 2px 2px 4px #000000; */
      animation: mymove 2s infinite;
      /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
      font-family: my-cocofont;
  }
  @keyframes mymove {
    50% {text-shadow: 10px 20px 30px blue;}
  }

  /* @keyframes mymove {
    50% {text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;}
  } */

div h3 {
    margin: 2rem 0;
}

.step-1 {
    width: 40%;
    justify-content: center;
    border: 2px solid gray;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    border-radius: 2rem;
}

.step-1 p {
    text-align: center;
}

.step-1 span {
    color: #f1958b;
}


  table {
    border-collapse: collapse;  
    margin-left: auto;  
    margin-right: auto;
    padding-bottom: 2rem;
    outline-style: dotted;
    /* outline-offset: 0.5rem; */
    outline-color: chocolate;
}
td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d3d3d3;
}

.lunch-section {
    background-color: rgb(245, 240, 240);
    padding-top: 1rem;
    margin-top: 1rem;
}

.step-2 {
    width: 60%;
}

.menu-table {
    outline-style: solid;
    outline-color: #272a31;
    
}

.menu-table td,th {
    border: none;
}

.mobile-display {
    display: none;
}

.submit-button {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem 0;
    background-color: #ec5242;
    border-radius: 2rem;
    justify-content: center;
}


  .partners-container{
      height: 20rem;
      width: 100%;
      background-color: #272a31;
  }

  .partners-title {
      color: #ec5242;
      text-align: center;
      margin-top: 1rem;
      padding-top: 1rem;
  }

.partner-logo {
    width: 120px;
    height: 100px;
    justify-content: space-evenly;
    width: 70%;
    margin-left: 7rem;
    margin-top: 2rem;
}

  .footer-container {
      height: 100%;
      width: 100%;
      background-color: #d3d3d3;
      text-align: center;
      padding-top: 5rem;
      margin-top: 1rem;
  }

  .footer-container ul{
    padding-bottom: 1rem;
    justify-content: center;
}

.footer-container ul li{
  margin-right: 0.5rem;
}

.footer-container ul li a{
  color: black !important;
}
/*----------MEDIA QUERIES-----------*/

  @media only screen and (max-width: 767px) {
body {
    overflow-x: hidden;
    /* width: 100%; */
}

    ul{
      flex-direction: column;
    }

    nav{
        width: 100vw;
        background-color: #ec5242;
        height: 45vh;
      }

      main {
          width: 100%;
      }
    
    a{
      display: block;
    }

    .logo {
        display: none;
    }
    
    li{
      margin: 0;
    }
    
 .step-1 {
     width: 95%;
 }

 .desktop-display {
     display: none;
 }

 .mobile-display {
     display: flex;
     flex-direction: column;
 }

   

      .partner-logo{
        flex-direction: row;
        margin-left: 6rem;
        width: 40px;
        height: 40px;
        margin-top: 0.5rem;
        justify-content: center;
    }
  }